* {
    font-family: helvetica, sans-serif, arial;
    margin: 0;
    padding: 0;
}

body {
}

#header {
    width: 100%;
    top: 0;
    height: 100px;
    font-size: 32px;
    background-color: rgba(255,234,214,1);
}

#main {
    margin: 0 auto 0 auto;
    height: 800px;
    width: 800px;
    background-color: rgba(255,234,214,0.8)
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/background.jpg");
    opacity: 0.5;
}